pandas
opencv-python
matplotlib
keras
tensorflow
scikit-learn
scikit-image
pyqt5
torch
torchvision
torchaudio
ultralytics
supervision==0.1.0
yolox
onemetric
# pip install -e git+https://github.com/samson-wang/cython_bbox.git#egg=cython-bbox